#!/usr/bin/make -f

DEB_AUTO_UPDATE_DEBIAN_CONTROL := yes

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools-vars.mk
include /usr/share/cdbs/1/class/autotools.mk

DEB_MAKE_INSTALL_TARGET :=

install/muse-streamer::
	make install DESTDIR=$(CURDIR)/debian/muse-streamer/ docsdir=/usr/share/doc/muse-streamer man_MANS="" docs_DATA="README AUTHORS NEWS KNOWN-BUGS TODO USAGE"	

	( cd $(CURDIR)/debian/muse-streamer/usr/bin && \
	mv muse muse-streamer && \
	ln -s muse-streamer MuSE ) 
	
	# this is hackish
	-ln -s muse.1 muse-streamer.1

clean::
	rm -f config.guess.cdbs-orig
	rm -f config.sub.cdbs-orig
	rm -f muse-streamer.1
